<%- include("../partials/adminHeader") %>
        <style>
            .btn-action {
                width: 100px; /* Adjust the width as needed */
                display: inline-block;
            }
            .large-input {
              padding: 15px; /* Increase padding for better spacing */
              font-size: 16px; /* Adjust font size as needed */
              width: 100%; /* Make the input 100% width */
              box-sizing: border-box; /* Include padding and border in the element's total width and height */
              /* Add any other styles you need */
          }
          @media (max-width: 768px) {
            .large-input {
                width: 100%; /* Make the input 100% width on small screens */
            }
            .large-input {
              width: 100%;
              padding: 10px;
              font-size: 16px;
          }
        }
        </style>
        <section class="content-main" style="background-color: white;">

          <% if(locals.couponData){%>

            <div class="content-header">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6 mt-30">
                          <h2 class="content-title card-title mb-20">Coupon Edit</h2>
                          <form id="addCategory" action="/admin/updateCoupon?couponId=<%= couponData._id %>" method="POST">
                          
                          
                            <div class="mb-4">
                              <label for="product_name" class="form-label">Coupon name</label>
                              <input name="couponName" type="text" placeholder="Type here" class="form-control" id="product_name"
                                value="<%= couponData.name %>" />
                            </div>
                          
                            <div class="mb-4">
                              <label class="form-label">Starting Date</label>
                              <input name="startingDate" type="date" class="form-control"
                                value="<%= couponData.createdOn.toISOString().split('T')[0] %>">
                              <p><span id="error2" style="display: none;" class="mt-15 err text-danger"></span></p>
                            </div>
                            <div class="mb-4">
                              <label class="form-label">Ending Date</label>
                              <input name="endingDate" type="date" class="form-control"
                                value="<%= couponData.expireOn.toISOString().split('T')[0] %>">
                              <p><span id="error2" style="display: none;" class="mt-15 err text-danger"></span></p>
                            </div>
                            <div class="mb-4">
                              <label class="form-label">Discount</label>
                              <input placeholder=" %" name="couponDiscount" class="form-control" id="couponDiscount"
                                value="<%= couponData.discount %>">
                              <p><span id="error7" style="display: none;" class="mt-15 err text-danger"></span></p>
                            </div>
                            <div class="d-grid">
                              <button class="btn btn-primary" type="submit">Update coupon</button>
                            </div>
                          </form>
                        
                        
                        
                      </div>
                      <!-- Additional column for responsive layout -->
                      
                  </div>
              </div>
          </div>
            
            
            <%} %>
         
      </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/public/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
   
    <!-- Main Script -->
    <script src="/public/admin-assets/js/main.js" type="text/javascript"></script>
    

    
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->
</html>