        <%- include("../partials/adminHeader") %>
        <style>
            .btn-action {
                width: 100px; /* Adjust the width as needed */
                display: inline-block;
            }
        </style>
        <section class="content-main" style="background-color: white;">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Customer List</h2>
                   
                </div>
                <!-- <div>
                    <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a> 
                    <a href="/admin/addproducts" class="btn  btn-lg rounded" style="background-color: rgb(15, 148, 224); color: white;">Create new</a>
                </div> -->
            </div>
            <div class="card mb-4">
                
                <div class="card-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="customerlist">
                                <thead>
                                    <tr style="background-color: white; color: black;">
                                        <th scope="col-md-3" class="col-name">Name</th>
                                        <th scope="col-md-3" class="col-email">Email</th>
                                        <th scope="col-md-2" class="col-status">Status</th>
                                        <th scope="col-md-2" class="col-mobile">Mobile</th>
                                        <!-- Add more columns if needed -->
                                        <th scope="col-md-2 " class="col-action text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  <% if (locals.users) { %>
                                      <% for (let i = 0; i < users.length; i++) { %>
                                          <tr>
                                              <td class="col-md-3 col-name"><%= users[i].name %></td>
                                              <td class="col-md-3 col-email"><%= users[i].email %></td>
                                              <td class="col-md-2 col-status">
                                                 
                                                  <% if (users[i].isActive) { %>
                                                      <span class="badge" style="background-color: rgb(7, 219, 11);">Active</span>
                                                  <% } else { %>
                                                      <span class="badge" style="background-color: red;">Blocked</span>
                                                  <% } %>
                                              </td>
                                              <td class="col-md-2 col-mobile"><%= users[i].mobile %></td>
                                              <td class="col-md-2 col-action text-end">
                                                  <% if (users[i].isActive) { %>
                  
                                                      <a  class="btn btn-sm font-sm btn-action" style="background-color: rgb(54, 138, 198); color: white;" onclick="blockUnblockUser('<%=users[i]._id %>', 'block','<%= users[i].name %>' )">
                                                          Block
                                                      </a>
                                                  <% } else { %>
                                                      <a  class="btn btn-sm font-sm btn-action" style="background-color: rgb(252, 0, 0); color: white;" onclick="blockUnblockUser('<%=users[i]._id %>', 'unBlock', '<%= users[i].name %>' )">
                                                          Unblock
                                                      </a>
                                                  <% } %>
                                              </td>
                                          </tr>
                                      <% } %>
                                  <% } %>
                              </tbody>
                              
                            </table>
                        </div>
                    </div>
                    
                            </div>
                            
                        </div>
                        
                    </div>
                    
                   
                
                    <!-- itemlist .// -->
                
                </div> <!-- card-body end// -->
                
                
                
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script>
        // Use class selector
        document.querySelectorAll('.block').forEach(function(element) {
            element.addEventListener('click', function() {
                Swal.fire({
                    title: "Do you want to block the user",
                    text: "That thing is still around?",
                    icon: "question"
                });
            });
        });
      </script>

    <script>
        
        function blockUnblockUser(id, clicked, name) {
           
            console.log("Entered into the block user script");
            let confirmationMessage;
            console.log(clicked);
        
            if (clicked === 'block') {
                confirmationMessage = `Are you sure you want to Block ${name}?`;
            } else {
                confirmationMessage = `Are you sure you want to Unblock ${name}?`;
            }
        
            Swal.fire({
                text: confirmationMessage,
                buttons: ["cancel", true],
            }).then((result) => {
                console.log("Entered into result");
        
                if (result.value) {
                    $.ajax({
                        url: `/admin/blockuser?id=${id}`,
                        method: 'PATCH',
                        contentType: 'application/json',
                        success: function (data) {
                            console.log("Entered into success function");
                            if (data.success) {
                                let successMessage;
                                if (clicked === 'block') {
                                    successMessage = `${name} is Blocked`;
                                } else {
                                    successMessage = `${name} is Unblocked`;
                                }
        
                                Swal.fire({
                                    text: successMessage,
                                    icon: "success",
                                }).then(() => {
                                    location.reload();
                                });
                            } else {
                                console.error('Blocking failed');
                            }
                        },
                        error: function (error) {
                            Swal.fire("Oops!", "Failed to Block the User. Please try again.", "error");
                            console.error('AJAX error:', error);
                        }
                    });
                } else {
                    // If the user cancels, do nothing
                    // Optionally, you can display a message here
                }
            });
        }
        
                        

    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/public/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
   
    <!-- Main Script -->
    <script src="/public/admin-assets/js/main.js" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            $('#customerlist').DataTable();
        })
    </script>
</body>



</html>