<%- include("../partials/adminHeader") %>
<section class="content-main">
  <div class="content-header">
      <div>
          <h2 class="content-title card-title">Product Offer</h2>
          <p>Add, edit a Product offers</p>
         
      </div>
      <div>
          <a href="/admin/loadAddProductOffer" class="btn btn-md rounded font-sm hover-up">Add new offer</a>
      </div>
  </div>
  <div class="card">
      
      <div class="card-body">
        <div class="col-md-13">
          
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                  <tr>
                      <th class="col-md-1">No</th>
                      <th class="col-md-2 text-center ">Offer Name</th>
                      <th class="col-md-2 text-center">Product</th>
                      <th class="col-md-1 text-center">Discount</th>
                      
                      <th class="col-md-2 text-center">Starting Date</th>
                      <th class="col-md-1 text-center">Ending Date</th>
                      <!-- <th class="col-md-1 text-center">Quantity</th> -->
                      <th class="col-md-2 text-center">Edit</th>
                      <th class=" col-md-2 text-center col-md-1">Delete</th>
                  </tr>
              </thead>
              <tbody>

                <% if (locals.productOfferData  ) { %>
                  <% for (let i = 0; i < productOfferData.length; i++) { %>
                      <tr>
                         
                        <td class="col-md-1 align-self-center align-items-center "><%= i+1 %></td>
                         
                        <td class="col-md-2 text-center ">
                           <%= productOfferData[i].name %>
                        </td>
                        <td class="col-md-2 text-center">
                          <%= productOfferData[i].productDetails.productName %>
                        </td>
                        <th class="col-md-1 text-center">
                          <%= productOfferData[i].productOffer.discount %> %
                        </th>
                        <th class="col-md-2 text-center">
                          <%= productOfferData[i].startingDate.toLocaleDateString('en-GB') %>
                        </th>
                          <th class="col-md-1 text-center">

                            <%= productOfferData[i].endingDate.toLocaleDateString('en-GB') %>
                          </th>
                         
    
                         
                         
                          <td class=" col-md-2 text-center  ">
                            <a href="/admin/editProductOffer?id=<%= productOfferData[i]._id %>&prdId=<%= productOfferData[i].productOffer.product %>" class="btn btn-sm font-sm btn-action btn-warning" style="width: 50%; color: white;" >Edit</a>
                          </td>
                         
                            
                          
                        
                          <td class=" col-md-2 text-end  ">
                            <a  class="btn btn-sm font-sm btn-action btn-danger" style="width: 100%;  color: white;" onclick="deleteProductOffer('<%= productOfferData[i]._id %>')" >Delete</a>
                              
                          </td>
                      </tr>
                  <% } %>
              <% } %>
              
                
              </tbody>
            </table>
            </div>
          </div>
          
        
          
          

          
       <!-- .row // -->
      </div> <!-- card body .// -->
  </div> <!-- card .// -->

   <!-- Edit Product Offer Modal -->



</section> <!-- content-main end// -->
<footer class="main-footer font-xs">
  <div class="row pb-30 pt-15">
      <div class="col-sm-6">
          <script>
          document.write(new Date().getFullYear())
          </script> ©, FashJar -  Ecommerce Website .
      </div>
      <div class="col-sm-6">
          <div class="text-sm-end">
              All rights reserved
          </div>
      </div>
  </div>
</footer>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="/public/admin-assets/js/vendors/select2.min.js"></script>
<script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
<script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
<!-- Main Script -->
<script src="/public/admin-assets/js/main.js" type="text/javascript"></script>

<script>
  function deleteProductOffer(prdId) {
    console.log("Entered into delete Product offer in ajax");
    console.log("This is productId : ", prdId);
    Swal.fire({
        text: "Do you want to delete the Offer?",
        buttons: {
            cancel: "Cancel",
            confirm: true
        },
    }).then((result) => {
        if (result.isConfirmed) {
            $.ajax({
                url: `/admin/deleteProductOffer?id=${prdId}`,
                method: 'GET',
                contentType: 'application/json',
                success: function (response) {
                  if(response.success){
                    location.reload()
                  } 

                },
                error: function (xhr, status, error) {
                    
                    console.error(xhr.responseText);
                }
            });
        }
    });
}


</script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>