<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>FashJar Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/admin-assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/public/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/public/admin-assets/imgs/brands/Fashjar_img.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
    
                <a class="menu-link" href="/admin/adminhome" style="margin-right: 15px;">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
                
                <a class="menu-link" href="/admin/customerlist" style="margin-right: 15px;">
                    <i class="material-icons md-perm_identity"></i>
                    <span class="text">Customer</span>
                </a>
                
                
                <a class="menu-link" href="/admin/category" style="margin-right: 15px;">
                    <i class="icon material-icons md-store"></i>
                    <span class="text">Category</span>
                </a>
                
                <a class="menu-link" href="/admin/products" style="margin-right: 15px;">
                    <i class="icon material-icons md-add_box"></i>
                    <span class="text">Products</span>
                </a>
                
               
        </ul>
        
          
           
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/public/admin-assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/public/admin-assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/public/admin-assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/public/admin-assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/public/admin-assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Edit Product </h2>
                    
                </div>
                
            </div>
            <div class="card">
                <div class="card-body">
                    
                  
                    
                    

                    <form method="post" action="/admin/editProduct?id=<%= productData._id %>" enctype="multipart/form-data"
                        onsubmit="return validateAndSubmit()">
                       
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Product Name</label>
                            <input type="text" placeholder="Type here" name="productName" class="form-control border"
                            id="productNameX" value="<%= productData.productName %>">
                                <div id="productName-error" class="error-message"></div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            
                            <label for="product_name" class="form-label">Brand</label>
                            <input type="text" id="brandX" placeholder="Type here" name="brandName" class="form-control border" value="<%= productData.brand %>">
                            <div id="brand-error" class="error-message"></div>
                            
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Full description</label>
                            <textarea  id="descriptionX" placeholder="Type here" name="description"
                                class="form-control border" rows="4" ><%= productData.description %></textarea>
                                <div id="description-error" class="error-message"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Regular price</label>
                                    <input placeholder="₹" id="regularPriceX" name="regularPrice" type="text" class="form-control border" value="<%=productData.regularPrice  %>">
                                    <div id="regularPrice-error" class="error-message"></div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Sale price</label>
                                    <input placeholder="₹" id="salePriceX" name="salePrice" type="text" class="form-control border" value="<%=productData.salePrice  %>">
                                    <div id="salePrice-error" class="error-message"></div>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label"> Total Quantity</label>
                                    <input placeholder="" name="totalQuantity" type="text" class="form-control border" value="<%=productData.totalQuantity  %>">
                                    <div id="sSize-error" class="error-message"></div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label"> Small Size quantity</label>
                                    <input placeholder="" id="sSizeQuantityX" name="ssize" type="text" class="form-control border" value="<%=productData.size.s.quantity  %>">
                                          <div id="sSize-error" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label"> Medium Size quantity</label>
                                    <input placeholder="" name="msize" id="mSizeQuantityX" type="text" class="form-control border" value="<%=productData.size.m.quantity  %>">
                                    <div id="mSize-error" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label"> Large Size quantity</label>
                                    <input placeholder="" id="lSizeQuantityX" name="lsize" type="text" class="form-control border" value="<%=productData.size.l.quantity  %>">
                                    <div id="lSize-error" class="error-message"></div>
                                 

                                </div>
                            </div>
                            <div id="size-error" class="error-message"></div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Color</label>
                                    <input placeholder="" id="colorX" name="color" type="text" class="form-control border" value="<%=productData.color  %>">
                                    <div id="color-error" class="error-message"></div>
                                </div>
                            </div>

                            <div class="card mb-4">
                              <div class="card-body">
                                  <div class="row gx-2">
                                      <div class="col-sm-6 mb-3">
                                          <label class="form-label">Category</label>
                                          <select class="form-select border" style="width: 150px;" name="category">
                                             <% for (let i=0; i < categoryData.length; i++) { %>
                                                  <option value="<%= categoryData[i]._id %>" >
                                                      <%= categoryData[i].name %>
                                                  </option>
                                                  <% } %>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                          </div>
                            <div class="card mb-2">
                                <div class="card-header">
                                    <h4>Choose images</h4>
                                </div>
                                <div class="border row">
                                    <div id="addedImagesContainer" class="thumbnails-container"
                                        style="display: flex; justify-content: space-around;"></div>
                                </div>
                                <div class="card-body">
                                    <div class="input-upload">
                                        <img src="assets/imgs/theme/upload.svg" alt="">
                                        <input value="<%= productData.productImage %>" class="form-control border" name="images" id="imageInput" type="file"
                                            multiple>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <!-- <button class="btn btn-md rounded font-sm hover-up" type="button" onclick="validateAndSubmit()">Publish</button> -->
                                <input type="submit" value="Update" class="btn btn-lg btn-success rounded font-sm hover-up"
                                    onclick="validateAndSubmit()">
                            </div>
                    </form>
                 <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, FashJar -  Ecommerce Website .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script>
        setTimeout(function(){
            document.getElementById('flashMessage').style.display = "none";
        },2000)
        setTimeout(function(){
            document.getElementById('errorMessage').style.display = "none";
        },2000)
    </script>
    <script>
        function unlist(id, clicked) {
            let confirmationMessage;
            if (clicked === 'Unlist') {
                confirmationMessage = "Are you sure you want to unlist this category?"
            } else {
                confirmationMessage = "Are you sure you want to list this category?"
            }
    
            swal({
                text: confirmationMessage,
                buttons: ["cancel", true],
            }).then((result) => {
                if (result) {
                    $.ajax({
                        url: `/admin/listUnlist?id=${id}`,  // Corrected from `categoryId` to `id`
                        method: 'PATCH',
                        contentType: 'application/json',
                        success: function (data) {
                            console.log("Entered into success function")
                            if (data.success) {
                                if (clicked === 'Unlist') {
                                    swal("Category Unlisted!", {
                                        icon: "success",
                                    }).then(() => {
                                        location.reload();
                                    });
                                } else {
                                    swal("Category Listed!", {
                                        icon: "success",
                                    }).then(() => {
                                        location.reload();
                                    });
                                }
                            } else {
                                console.error('Unlisting failed');
                            }
                        },
                        error: function (error) {
                            swal("Oops!", "Failed to unlist the category. Please try again.", "error");
                            console.error('AJAX error:', error);
                        }
                    });
                } else {
                    // If the user cancels, do nothing
                    // Optionally, you can display a message here 
                }
            });
        }
          
          setTimeout(() => {
              const insertmessage = document.getElementById("insertmessage");
              insertmessage.style.display = "none";
          }, 5000);
          
          
    </script>
    <script src="/public/js/productValidation.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/public/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/public/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/public/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/public/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/public/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/public/admin-assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>