<%- include("../partials/userHeader") %>
<main class="main">
  
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Pages
                <span></span> Account
            </div>
        </div>
    </div>
    <section class="pt-30 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-25 m-auto">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="dashboard-menu">
                                <ul class="nav flex-column" role="tablist">
                                    <li class="nav-item" style="background-color: black; font-weight: bold; font-size: 16px; color: white;">
                                        <a class="nav-link active" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false" style="color: white; font-weight:bold"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                    </li>
                                    
                                    <li class="nav-item" style="background-color: black;">
                                        <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false" style="color: white; font-weight:bold"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                    </li>
                                    <li class="nav-item" style="background-color: black;">
                                        <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#add-address" role="tab" aria-controls="track-orders" aria-selected="false" style="color: white; font-weight:bold"><i class="fi-rs-shopping-cart-check mr-10"></i>Add Adress</a>
                                    </li>
                                    <li class="nav-item" style="background-color: black;">
                                        <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true" style="color: white; font-weight:bold"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                    </li>
                                    <li class="nav-item" style="background-color: black;">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#manage-password" role="tab" aria-controls="account-detail" aria-selected="true" style="color: white; font-weight:bold"><i data-feather="lock" class="mr-2"></i>Manage Password</a>
                                    </li>
                                    <li class="nav-item" style="background-color: black;">
                                        <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-details" role="tab" aria-controls="account-detail" aria-selected="true" style="color: white; font-weight:bold"><i class="fi-rs-user mr-10"></i>User Details</a>
                                    </li>
                                   
                                    <li class="nav-item" style="background-color: black;">
                                        <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="track-orders" aria-selected="false" style="color: white; ">
                                            <i class="fas fa-wallet mr-2"></i> <i class="fi-rs-marker mr-2"></i> 
                                            Wallet
                                        </a>
                                    </li>
                                    <li class="nav-item" style="background-color: black;">
                                        <a class="nav-link" onclick="makeLogout()" style="color: white; font-weight:bold"><i class="fi-rs-sign-out mr-10" style="color: white; font-weight:1rem"></i>Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="tab-content dashboard-content">
                              <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                <div class="rounded-image-container d-flex justify-content-center align-items-center">
                                    <!-- Replace 'your-image-url.jpg' with the URL of your image -->
                                    <img class="rounded-image" style="height: 100px; width: 100px;" src="/public/uploads/product-images/user_image.jpg" alt="User Image">
                                </div>
                                <div class="card mt-4">
                                    <div class="card-header ">
                                        <h5 class="mb-0 ">Hello <%= userData.name %> </h5>
                                    </div>
                                    <div class="card-body">
                                        <p>From your account dashboard, you can easily check &amp; view your <a href="#">recent orders</a>,
                                            manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and
                                                account details.</a></p>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                                <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Your Orders</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Order</th>
                                                            <th>Date</th>
                                                            <th>Status</th>
                                                            <th>Total</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>#1357</td>
                                                            <td>March 45, 2020</td>
                                                            <td>Processing</td>
                                                            <td>$125.00 for 2 item</td>
                                                            <td><a href="#" class="btn-small d-block">View</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>#2468</td>
                                                            <td>June 29, 2020</td>
                                                            <td>Completed</td>
                                                            <td>$364.00 for 5 item</td>
                                                            <td><a href="#" class="btn-small d-block">View</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>#2366</td>
                                                            <td>August 02, 2020</td>
                                                            <td>Completed</td>
                                                            <td>$280.00 for 3 item</td>
                                                            <td><a href="#" class="btn-small d-block">View</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="add-address" role="tabpanel" aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-header" style="background-color: black;">
                                            <h5 style="color: white;" >Add Address <span style="color: yellow;">+</span></h5>
                                        </div>
                                        <div class="card-body">
                                            <form class="" method="post" action="/addaddress" id="addressForm">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label><span class="required"></span></label>
                                                        <input  class="form-control square" id="addresName" name="addresName" type="text" placeholder="Name" style="border: 1px solid black;">
                                                        <div id="addresName-error" class="error-message"></div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label> <span class="required"></span></label>
                                                        <input required="" class="form-control square" id="addressmobile" name="addressmobile" type="number" placeholder="10-Digit-Phone-Number" style="border: 1px solid black;">
                                                        <div id="addressmobile-error" class="error-message"></div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label> <span class="required"></span></label>
                                                        <input required="" class="form-control square" id="housename" name="housename" type="text" placeholder="House Name" style="border: 1px solid black;">
                                                        <div id="housename-error" class="error-message"></div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label><span class="required"></span></label>
                                                        <input required="" class="form-control square" id="pincode" name="pincode" type="number" placeholder="PINCODE*" style="border: 1px solid black;">
                                                        <div id="pincode-error" class="error-message"></div>
                                                    </div>
                                                    <div class="form-group col-md-16">
                                                        <label><span class="required"></span></label>
                                                        <input required="" class="form-control square" name="townOrCity" id="townOrCity" type="text" placeholder="City/Town*" style="border: 1px solid black;">
                                                        <div id="townOrCity-error" class="error-message"></div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label><span class="required"></span></label>
                                                        <input required="" class="form-control square" name="district" type="text"  id="district" placeholder="District*" style="border: 1px solid black;">
                                                        <div  id="district-error" class="error-message"></div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label><span class="required"></span></label>
                                                        <input required="" class="form-control square"  id="state" name="state" type="text" placeholder="State*" style="border: 1px solid black;">
                                                        <div id="state-error" class="error-message"></div>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label><span class="required"></span></label>
                                                        <input required="" class="form-control square" id="country" name="country" type="text" placeholder="Country*" style="border: 1px solid black;">
                                                        <div id="country-error" class="error-message"></div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        
                                                    </div>
                                                    <div class="col-md-10">
                                                        <input type="submit" class="btn btn-fill-out " style="background-color: black;" name="submit" value="Save">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="reset" class="btn btn-clear" value="Cancel" style="background-color: black; width: 100px;">
                                                    </div>
                                                    
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                               
                                <div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-header" style="background-color: black;">
                                            <h5 style="color: white;">Account Details</h5><span><p style="color: white;">Also You Can Edit</p></span>
                                        </div>
                                        <div class="card-body">
                                            <form class="" method="post" action="/editUserDetails" id="">

                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <label> Name <span class="required">*</span></label>
                                                        <input required="" class="form-control square black-border" id="proname" name="name" type="text" value="<%= userData.name %>">
                                                    </div>
                                                    <div style="color: red;" id="proname-error"></div>
                                                    <div class="form-group col-md-6">
                                                        <label>Mobile Number <span class="required">*</span></label>
                                                        <input required="" class="form-control square black-border" id="pronumber" name="mobile" type="number" value="<%= userData.mobile %>">
                                                    </div>
                                                    <div style="color: red;" id="pronumber-error"></div>
                                
                                                    <div class="form-group col-md-12">
                                                        <label>Email Address <span class="required">*</span></label>
                                                        <input required="" class="form-control square black-border" name="email" type="email" value="<%= userData.email %>"  readonly>
                                                    </div>
                                
                                                    <div class="form-group col-md-12">
                                                        <label> Password <span class="required">*</span></label>
                                                        <input required="" class="form-control square black-border" name="password" type="password">
                                                    </div>
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-fill-out " style="background-color:black;" name="submit" value="Submit">Save</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>    
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="row">
                                        <% for (let i = 0; i < userData.address.length; i++) { %>
                                            <div class="col-lg-6">
                                                <div class="card mb-3 mb-lg-0">
                                                    <div class="card-header">
                                                        <h5 class="mb-0">Billing Address</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address>
                                                            <strong>Name:</strong><%=  userData.address[i].name %><br>
                                                            <strong>Mobile:</strong> <%= userData.address[i].mobile %><br>
                                                            <strong>House Name:</strong><%= userData.address[i].houseName %><br>
                                                            <strong>Pincode:</strong> <%= userData.address[i].pincode %><br>
                                                            <strong>City/Town:</strong> <%= userData.address[i].cityOrTown %><br>
                                                            <strong>District:</strong> <%= userData.address[i].district %><br>
                                                            <strong>State:</strong> <%= userData.address[i].state %><br>
                                                            <strong>Country:</strong> <%= userData.address[i].country %>
                                                        </address>
                                                        <div class="d-flex justify-content-end">
                                                          
                                                            <a href="/addressEdit?addressId=<%= userData.address[i]._id %>"> <button  type="button" class="btn btn-warning btn-small mr-20" >Edit</button></a>
                                                            <button type="button" class="btn btn-danger btn-small mr-15" onclick="deleteAddress('<%= userData._id %>', '<%= userData.address[i]._id%>', event)">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                                
                                    
                                    
                                    
                                
                                <div class="tab-pane fade" id="manage-password" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card  black-border">
                                              
                                                <div class="card-header" style="background-color: black;">
                                                    <h5 style="color: white;">Edit Password</h5>
                                                </div>
                                                <div class="card-body" style="color: white;">
                                                    <form class="" method="post" action="/changepassword" id="editPasswordForm">
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label>Current Password <span class="required">*</span></label>
                                                                <input required="" id="currentpassword" class="form-control square black-border" name="currentpassword" type="password" placeholder="currentpassword">
                                                                <div id="error1" class="error-message"></div>
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>New Password <span class="required">*</span></label>
                                                                <input required="" id="newpassword" class="form-control square black-border" name="newpassword" type="password" placeholder="newpassword">
                                                                <div id="error2" class="error-message"></div>
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label>Confirm Password <span class="required">*</span></label>
                                                                <input required="" id="conformPass" class="form-control square black-border" name="confirmpassword" type="password" placeholder="confirm password">
                                                                <div id="error3" class="error-message"></div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <button type="submit" class="btn btn-fill-out " style="background-color: black;" name="submit" value="Submit">change</button>
                                                            </div>
                                                        </div>
                                                    </form>   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-md-3 mb-lg-0">
                    <div class="row align-items-center">
                        <div class="col flex-horizontal-center">
                            <img class="icon-email" src="/public/assets/imgs/theme/icons/icon-email.svg" alt="">
                            <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                        </div>
                        <div class="col my-4 my-md-0 des">
                            <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Subscribe Form -->
                    <form class="form-subcriber d-flex wow fadeIn animated">
                        <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                        <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                    </form>
                    <!-- End Subscribe Form -->
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                        <div class="logo logo-width-1 wow fadeIn animated">
                            <a href="index.html"><img src="/public/assets/imgs/theme/logo.svg" alt="logo"></a>
                        </div>
                        <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                        <p class="wow fadeIn animated">
                            <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                        </p>
                        <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                            <a href="#"><img src="/public/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                            <a href="#"><img src="/public/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                            <a href="#"><img src="/public/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                            <a href="#"><img src="/public/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                            <a href="#"><img src="/public/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h5 class="widget-title wow fadeIn animated">About</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-3">
                    <h5 class="widget-title wow fadeIn animated">My Account</h5>
                    <ul class="footer-list wow fadeIn animated">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">View Cart</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Track My Order</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Order</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="widget-title wow fadeIn animated">Install App</h5>
                    <div class="row">
                        <div class="col-md-8 col-lg-12">
                            <p class="wow fadeIn animated">From App Store or Google Play</p>
                            <div class="download-app wow fadeIn animated">
                                <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="/public/assets/imgs/theme/app-store.jpg" alt=""></a>
                                <a href="#" class="hover-up"><img src="/public/assets/imgs/theme/google-play.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                            <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                            <img class="wow fadeIn animated" src="/public/assets/imgs/theme/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
        <div class="row">
            <div class="col-12 mb-20">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-lg-6">
                <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
            </div>
            <div class="col-lg-6">
                <p class="text-lg-end text-start font-sm text-muted mb-0">
                    Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Preloader Start -->

<!-- Vendor JS-->
<script src="/public/js/editPasswordValidation.js"></script>
<script src="/public/js/addressValidation.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
<script src="/public/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/public/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/public/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/public/assets/js/plugins/slick.js"></script>
<script src="/public/assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="/public/assets/js/plugins/wow.js"></script>
<script src="/public/assets/js/plugins/jquery-ui.js"></script>
<script src="/public/assets/js/plugins/perfect-scrollbar.js"></script>
<script src="/public/assets/js/plugins/magnific-popup.js"></script>
<script src="/public/assets/js/plugins/select2.min.js"></script>
<script src="/public/assets/js/plugins/waypoints.js"></script>
<script src="/public/assets/js/plugins/counterup.js"></script>
<script src="/public/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/public/assets/js/plugins/images-loaded.js"></script>
<script src="/public/assets/js/plugins/isotope.js"></script>
<script src="/public/assets/js/plugins/scrollup.js"></script>
<script src="/public/assets/js/plugins/jquery.vticker-min.js"></script>
<script src="/public/assets/js/plugins/jquery.theia.sticky.js"></script>
<!-- Template  JS -->
<script src="/public/assets/js/maind134.js?v=3.4"></script>
<script>

   
</script>


<script>

  function deleteAddress(userId, addressId,event){
        event.preventDefault();

    $.ajax({
      url:`/deleteAddress?userId=${userId}&addressId=${addressId}`,
      method:'GET',
      contentType:'application/json',
      success:function(response){
         location.reload()
      }
    });
   
  }


  function makeLogout() {
    Swal.fire({
      text: "Are you sure you want to logout?",
      showCancelButton: true,
      confirmButtonText: "Yes",
      cancelButtonText: "Cancel"
    }).then((result) => {
      if (result.value) {
        $.ajax({
          url: "/logout",
          method: 'GET',
          contentType: 'application/json',
          success: function(response) {
            if(response){
              window.location.href = '/'
              
            }
            
          },
          error: function(error) {
            console.error("Logout failed:", error);
            // Handle error appropriately, e.g., show an error message to the user
          }
        });
      }
    });
  }
  
</script>


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->
</html>